body {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background: url('Afbeeldingen/BGround.jpg') no-repeat;
	background-size: cover;
	font-family: sans-serif;
	height:100%;
	padding-bottom: 60px;
}
#header {
	padding: 10px;
}
#container {
	height:100%;
}
.slides {
	color:black;
	margin-left: 28%;
}
#footer {
	background-color:rgba(51,201,255,0.5);
	position: fixed;
	bottom:0;
	width:80%;
	height:40px;
	}
.TextPicHome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.PicHome {
	background-color: none;
	width: 100%;
	float: left;
	margin: -25px 0px 0px 0px;
	position: relative;
	text-align: center;
	color: white;
}
.Homeclm1 {
	margin: 0px 0px 20px 0px;
	background-color:rgba(51,201,255,0.5);
}
.column2, .column3 {
	background-color: #efefef;
	width: 100%;
	float: left;
	margin: 50px 0px 0px 0px;
}
form.rechts{
	float: right;
	margin: 15px -105px 0px 0px;
}


.dropbtn{
	background-color: white;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropbtn:hover {
	background-color: #1ac2ff;
}
.nav {
	background-color: white;
	font-family: Arial;
}
.nav a {
	font-size: 16px;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

/*Cloud */

.CloudA1 {
	width: 100%;
	float: left;
	overflow: hidden;
}
.CloudA2 {
	width: 100%;
	float: right;
	overflow: hidden;
	margin-bottom: 50px;
}
.CloudA3 {
	bottom
	float: left;
}
.btn {
	width: 100%;
	color: black;
	text-decoration: none;
	background-color:white;
}

/* Hosting */
.HostingI {
	background-color:rgba(51,201,255,0.5);
}
.PakketOut {
	background-color:rgba(51,201,255,0.5);
	width: 30%;
	margin: 0% 0% 0% 35%;
}
h2 {
	background-color:rgba(51,201,255,0.5);
}
#Brons {
	width: 15%;
	display: inline-block;
	text-decoration: none;
	background-color: #cd7f32;

}
#Zilver {
	width: 15%;
	display: inline-block;
	background-color: silver;
}
#Goud {
	width: 15%;
	display: inline-block;
	background-color: gold;
}
/* SMedia */

.Twitter {
	float: left;
	background-color: none;
	color: white;
	margin-bottom: 50px;
	margin-top: 20px;
}
#FBlogo {
	float: right;
	margin-top: 20px;
}